@font-face {
    font-family: ACLine;
    src:    url('../fonts/ACLine.eot') format('embedded-opentype'),
            url('../fonts/ACLine.woff2') format('woff2'),
            url('../fonts/ACLine.woff') format('woff'),
            url('../fonts/ACLine.ttf') format('truetype'),
            url('../fonts/ACLine.svg#ACLine') format('svg');
}
@font-face {
    font-family: SegoeUIRegular;
    src:    url('../fonts/SegoeUIRegular.eot') format('embedded-opentype'),
            url('../fonts/SegoeUIRegular.woff') format('woff'),
            url('../fonts/SegoeUIRegular.ttf') format('truetype');
}
html,body{
	max-width: 1300px;
    padding:0;
    margin:0 auto;
}
.news{margin-top: 10px;}
.top-vac {margin-top: 10px;}
.top-vac p {margin-bottom:0px;}

.tv-news-list li img{
    width: 100%;
    border: 1px solid #f68c06;
	margin-bottom:10px;
}

.tv-news-list li img[src="#"] {
    display: none;
}

.tv-news-footer img{
    width:100%;
}

.tv-news-header1 {
	float:left;
	margin:6px 0 0 0;
}
.tv-news-header2 {
	color:#f68c06; 
	font-family:ACLine; 
	font-size:32px;
	font-weight:bold;
    text-align:center;
}
.close-bt{
	height:18px;
	width:18px;
	border-radius:2px;
	background-color:#faeae5; 
	float:right;
	text-align:center;
	line-height:14px;
	margin-right:13px;
	color:#cc3300;
}

.add2top p{
	font-family: SegoeUIRegular;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
    color: #cc3300;
    margin-bottom: 10px;
}

.add2top span{text-decoration: underline;}
.add2top a:active {text-decoration:none;}
.add2top a,p:hover {text-decoration:none; color:#f68c06;}
.add2top a,p:visited {text-decoration:none;}

.tv-news-list{
    height: 520px;
    font-family: SegoeUIRegular;
	color: #cc3300;
    overflow-y:scroll;
}

.tv-news-list ul {
    list-style-position:inside;
    padding:5px;
	color:#f68c06; 
	font-size: 18px;	
	line-height:16px;
}

.tv-news-date{
    font-size: 11px;
    color:grey;
	margin-left: -15px;
	line-height:normal;
}

.tvl-position {
    font-weight: bold;
    text-decoration: underline;
    color:black;
	font-size: 14px;
	line-height:normal;
}

.tvl-salary {
    color:grey;
    padding-bottom:10px;
	font-size: 14px;
	line-height:normal;
}

.tv-link:hover  p{color:#f68c06;}
.tv-link:-webkit-any-link {text-decoration: none;}

.cool-scroll::-webkit-scrollbar {
    width: 8px;
    background: #ddd;
}
.cool-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
}
.cool-scroll::-webkit-scrollbar-thumb {
    background: #888 url(../image/Thumb.png) no-repeat;
    background-position: center center;
}