@font-face{
        -ms-font-family: "SegoeUI";
      	-ms-src: url('../fonts/SegoeUIRegular.ttf') format('truetype');
        font-family: "SegoeUI";
        src: url('../fonts/SegoeUIRegular.ttf') format('truetype');
 }


* {
	padding: 0;
	margin: 0;
	font-family: "SegoeUI";

}
.container {
	margin: 0 15% 0 15%;
  	width: 70%;
}

.main{
	padding-top: 200px;
	padding-left: 0px;

}
.main img {
	height: 190px;
	width: 190px;
	float: left;
	margin-right: 20px;
	margin-left: 0px;
}


.section > h3 {
	color: #4F4F4F; 
	font-size: 24px; 
	margin-top: 0;
	margin-bottom: 0;
}

.section > h4 {
	color: #CD2626; 
	font-size: 18px; 
	font-family: SegoeUI;
}

.section > p {
	color: #696969; 
	font-size: 18px; 
	margin: 0;
	line-height: normal;
}
.below_section {
	padding-top: 10px;
}

.below_section > a {
	color: orangered; 
	font-size: 18px;
	text-decoration: underline; 
	font-family: SegoeUI;
	padding-right: 15px;
	line-height: normal;
}

.below_section > i {
	color: #CD2626; 
	font-size: 20px;
	line-height: normal;
	
}
.below_section > span:nth-child(3) {
	color: #CD2626; 
	font-size: 20px;
	padding-right: 15px;
}
.below_section > i:nth-child(4) {
	color: grey; 
	font-size: 20px;
	line-height: normal;

}
.below_section > i:nth-child(4) {
 -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.below_section > span:nth-child(5) {
	color: grey; 
	font-size: 20px;
}

.glyphicon-repeat {
	color: darkorange;
	text-decoration: none;
	
}
.glyphicon-repeat a {
	color: darkorange;
	text-decoration: underline;
	margin-left: 5px;
}
.town {
	color: gray;
	font-size: 18px;
	font-family: SegoeUI;
	padding-left: 210px;

}
.drop {
	color: orange;
	font-size: 18px;
	font-family: SegoeUI;
	padding-right: 10px;
	padding-left: 10px;
}
.data {
	color: grey;
	font-size: 18px;
}
hr {
	border-top: 1px solid darkgrey;
}
.list {
	margin-left: 0px;
}
.list-inline {
	margin-top: 30px; 
	list-style-type: none; 
	color: darkorange;
	margin-bottom: 20px;

}

.list-inline > li {
    font-size: 18px;
    padding: 2px; 
    margin-left: 0px;
}

.list-inline i{
	margin-left: 30px;
	text-decoration: none;
}

.list-inline a{
	padding-left: 5px;
	color: darkorange;
	text-decoration: underline;
	--webkit--font-size: 20px;
}

.list-inline li:nth-child(4){
	margin-left: 50px;
}

#wrapper {
	padding-top: 10px;
}

.res {
    float: left;
    height: 50px;
    color: #6A6A6A;
    font-size: 16px;
}

.string1 {

    display: inline-block;
    margin-left: 22px;
    padding-bottom: 20px;
    font-size: 16px;
}

.string2 {
    padding-bottom: 20px;
    display: inline-block;
    margin-left: 22px;
}

.string3 {
    display: inline-block;
    margin-left: 23px;
    font-size: 16px;
    padding-bottom: 20px;

}

.fa-repeat {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.input {
    width: 240px;
    color: darkorange;
    font-size: 16px;
}

.date {
    width: 220px;
    margin-left: 210px;
    margin-top: -25px;
    text-align: right;
    color: #B9B9B9;
    font-size: 16px;
}

.rep {
    width: 150px;
    margin-left: 470px;
    font-size: 16px;
    line-height: normal;
    margin-top: -25px;

}

.rep a{
	color: darkorange;
	text-decoration: underline;
	margin-right: 5px;
}
.rep i {
	text-decoration: none;
}


.submit {
	border: 2px solid darkorange;
    background-color: darkorange;
    color: white;
    border-radius: 10px;
    padding: 7px;
    width: 160px;
    text-align: center;
    margin-left: 620px;
    margin-top: 20px;
    outline: none;
   }

.fa-thumbs-up, .number, .number_dislike {
	display: none;
}
@media screen and (max-width: 1440px) and (min-width: 1025px) {
	.list-inline li:nth-child(4) {
		margin-left: 0px;
	}
	
	.town {
	color: gray;
	font-size: 18px;
	-ms-font-family: "SegoeUI";
	padding-left: 210px;
	}
	.string1, .string2, {
		margin-left: 150px;
	}
	.string3 {
		margin-left: 150px;
	}

}

@media screen and (max-width: 1101px) and (min-width: 1025px) {
	.string3 {
		margin-left: 23px;
	}
}
@media screen and (max-width: 1195px) and (min-width: 1025px){
	.town {
		padding-left: 0px;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.town {
		padding-left: 0px;
	}
	.list-inline li:nth-child(4) {
		margin-left: 0px;
	}
	.list-inline li:nth-child(2) {
		padding-left: 33px;
	}
	.below_section {
	padding-top: 15px;
	}
	.submit {
		 margin-left: 490px;
	}
}

@media screen and (max-width: 768px) and (min-width: 320px) {

	.list-inline li:nth-child(2) {
		padding-left: 33px;
	}

	.list-inline li:nth-child(4) {
		margin-left: 0px;
	}
	.below_section {
		float: left;
	}
	#line {
		display: inline-block;
		padding-left: 0px;
	}
	.town {
	color: gray;
	font-size: 18px;
	-ms-font-family: "SegoeUI";
	padding-left: 0;
	}
}






