.form-login-widjet{	
    background-color: #ffffff;
	border-radius: 10px;
    margin:5px 10px;
	max-width:300px;
	min-width:300px;
}
.img{
		margin:0 1px;
}
@media(min-width:1362px){
	.form-login-widjet{	
		margin:5px 10px;
		max-width:290px;
		min-width:280px;
	}
	.img{
		margin:0 1px;
	}
}
@media(min-width:1025px) and (max-width:1361px){
	.form-login-widjet{	
		margin:5px 20px 5px 10px;
		max-width:354x;
		min-width:354px;
	}
	.img{
		margin:0 1px;
	}
}
@media(min-width:768px) and (max-width:1024px){
	.form-login-widjet{	
		margin:5px 10px;
		max-width:354x;
		min-width:354px;
	}
	.img{
		margin:0 1px;
	}
}
@media(max-width:360px){
	.form-login-widjet{	
		margin:5px 10px;
		max-width:340px;
	}
	.img{
		margin:0 1px;
	}
}
.tabs{
	width:100%;
    height: 44px;
}
.tab-login,.tab-sign-in{
    border: 1px solid #ef7c00;
    display: inline-block;
    width: 50%;
    float: left;
    border-bottom: none;
    position: relative;
    background-color: #ffffff;
	color:#ef7c00;
}
.tab-login{
    border-radius: 10px 7px 0 0;
    text-align: center;
    padding-right: 10px;
    height: 45px;
    padding-top: 10px;
    border-bottom: none;
    z-index: 2;
    background-color: #ffffff;
}
.tab-sign-in{
    border-radius: 0 10px 10px 0;
    background-color:#c9c9c9;
    margin-top: 5px;
    height: 58px;
    border: 1px solid #ef7c00;
    border-left: none;
    text-align: center;
    padding-top: 10px;
    z-index: 0;
}
.form-all {
    padding: 0 15px 0 15px;
    border: 1px solid #F07D00;
    background-color: #ffffff;
    border-radius: 0 10px 10px 10px;
    position: relative;
    z-index: 1;
}
.form-group{
    margin-bottom: 5px;
    color: #414141;
    border-color:#c9c9c9 ;
	height:44px;
}
.form-control{
    border-radius: 10px;
	height:44px;
}
.form-button{
    width: 100%;
    background-color:#F07D00;
	border:1px solid #F36523;
    color:#fff;
    border-radius: 10px;
	height:44px;
}
.checkbox,#form-text-input,#form-text-and,.image-network{
    padding-left: 10px;
}
#form-text-question{
    text-align: right;
    padding-right: 10px;
    color: #414141;
    text-decoration: underline;
}
.form-group p{
    line-height: 15px;
}
.image-network{
width: 100%;
margin-bottom:10px;
}
/*//////////////////////////////////////////////////////////////////*/
.menu{
	width:100%;
	height:44px;
}
.login,.sign{
    border: 1px solid #F36523;
    display: inline-block;
    float: right;
	padding-top:8px;
	display:inline-block;
    position: relative;
    background-color: #ffffff;
}
.login{
    width: 50%;
	height: 48px;
	background-color: #c9c9c9;
	margin-top:6px;
	text-align: center;
    padding-right: 10px;  
    padding-top: px;
    border-bottom: none;
	border-right:none;
	border-radius: 10px 0 0 0;
    z-index: 0;
    
}
.sign{
	width: 50%;
	height: 45px;
	background-color:#ffffff; 
	text-align: center;
    border-radius: 10px 10px 0 0;
    border: 1px solid #F36523;
    border-bottom: none;
    z-index: 2;
}
.span_sign{
	color:#E7651A;
	text-decoration:underline;
}
.span_pero{
	color:#E7651A;
	text-decoration:underline;
}
.form{
	padding: 0 15px 0 15px;
	background:white;
	border-radius:10px 0 10px 10px;
	border:1px solid #F36523;
	position:relative;
	z-index:1;
}
#checkbox{
	margin-left:10px;
	margin-bottom:10px;
}
.span{
	color:black;
	text-decoration:underline;
	font-family:Arial, sans-serif;
}
.span2{
	color:#999999;
}
.span3{
	color:#999999;
	text-align:center;
	margin-left:10px;
}
.span4{
	color:#999999;
	font-size:10px;
	margin-left:12px;
}