@font-face {
    -ms-font-family: "SegoeUI";
    -ms-src: url(../fonts/SegoeUIRegular.ttf);
    font-family: "SegoeUI";
    src: url(../fonts/SegoeUIRegular.ttf);
    -ms-font-family: "ACLine";
    -ms-src: url(../fonts/ACLine.ttf);
    font-family: "ACLine";
    src: url(../fonts/ACLine.ttf);
}

.wrraper{
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
}
#header_text {
    color: #F68C06;
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 0;
    font-family: "ACLine";
    -ms-font-family: "ACLine";
    font-size: 36px;
    font-weight: bold;
}

.header_text{
    margin-bottom: 20px;
}

.label_text{
    margin-right: -15px;
    line-height: 44px;
    display: inline-block;
    text-align: right;
    margin-bottom: -3px;
    min-width: 167px;
    font-family: "Segoe UI", sans-serif;
    -ms-font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color:#666666;
}

.label_text2{
    display: inline-block;
    font-size: 12px;
    margin-bottom: 0;
    line-height: 44px;
    min-width: 167px;
    font-family: "Segoe UI", sans-serif;
    -ms-font-family: "Segoe UI", sans-serif;
    font-size: 11px;
    color:#666666;
}

#text-uppercase{
    line-height: 44px;
    font-family: "Segoe UI", sans-serif;
    -ms-font-family: "Segoe UI", sans-serif;
    font-size: 16px;
}

#text-uppercase2{
    line-height: 44px;
    font-family: "Segoe UI", sans-serif;
    -ms-font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.text{
    text-align: center;
    color: #666666;
}

.valuta{
    width: 45px;
    min-width: 45px;
    text-align: center;
    display: inline-block;
    float: left;
}

.inputPlace{
    width: 100%;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #D6D6D6;
}

.inputPlace2{
    width: 100%;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #D6D6D6;
}

#inputPlace6{
    height: 150px;
}

#inputPlace7{
    width: 20px;
    display: inline-block;
    float: left;
    height: inherit;
}

#inputPlace8 {
    display: inline-block;
    width: 90%;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #D6D6D6;
    float: left;
}

.politika{
    display: inline-block;
    width: 245px;
    float: left;
}

.politika_block{
    margin-top: -10px;
}

.button{
    border: 1px solid black;
    border-radius: 10px;
    border-color: #F26522;
    height: 44px;
    display: inline-block;
    min-width: 140px;
}

.button2{
    border: 1px solid black;
    border-radius: 10px;
    border-color: #F26522;
    height: 44px;
    background-color: #F26522;
    text-align: center;
    width: 45%;
}

.format_label{
    height: 44px;
    float: left;
}

p.format{
    font-family: "Segoe UI", sans-serif;
    -ms-font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    color:#666666;
    float: left;
    width: 100%;
}



/*запрос для маленького екрану*/
@media(max-width:586px){
    #button_border{
        width: 180px;
        display: inline-block;
    }
    .label_text_logo{
        display: inline-block;
        float: left;
    }

    .label_text2{
        float: left;
        display: block;
        width: 150px;
        min-width: 167px;
        font-family: "Segoe UI", sans-serif;
        -ms-font-family: "Segoe UI", sans-serif;
        font-size: 11px;
    }
    p.label_text{
        text-align: left;
        min-width: 167px;
        width: 300px;
    }

    .file_not_faund{
        margin-left: 15px;
    }

    #header_text{
        margin-left: -15px;
    }

    p.format{
        margin-left: 15px;
    }

    #inputPlace7{
        margin-left: 15px;
    }

    #inputPlace8{
        width: 90%;
        display: inline-block;
    }

    .button2{
    margin-left: 15px;
        width: 95%;
    }

    #valuta{
        width: 45px;
        min-width: 45px;
        text-align: center;
        display: inline-block;
    }

}

/*запрос для середнього екрану*/
@media(min-width:587px) and (max-width:767px){
    #button_border{
        width: 180px;
        display: inline-block;
    }

    .label_text_logo{
        display: inline-block;
        float: left;
    }

    .label_text2{
        display: inline-block;
        width: 150px;
        min-width: 167px;
        font-family: "Segoe UI", sans-serif;
        -ms-font-family: "Segoe UI", sans-serif;
        font-size: 11px;
    }

    .label_text{
        color:#666666;
        margin-right: -15px;
        line-height: 44px;
        display: inline-block;
        text-align: right;
        margin-bottom: -3px;
        min-width: 167px;
        float: left;
    }

    .valuta{
        width: 45px;
        min-width: 45px;
        text-align: center;
    }

    .input_colomn{
        width: 48.3333%;
        float: left;
        margin-right: 25%;
    }

    .input_colomn2{
        width: 48.3333%;
        float: left;
    }

    .file_row{
        margin-top: -10px;
    }

    .file_not_faund{
        margin-left: -15px;
    }

    .organ{
        line-height: normal;
    }

    .button2{
        margin-left: 25%;
    }

    #inputPlace8{
        width: 85%;
    }

    #inputPlace7{
        margin-left: 25%;
    }
}


/*запрос для тексту про формати*/
@media(max-width:620px){
    p.format{
        max-width: 420px;
    }
}
@media(min-width: 637px) and (max-width: 864px){
    p.format{
        margin-left: 25%;
    }
}
@media(min-width: 587px) and (max-width: 636px){
    p.format{
        margin-left: 167px;
        width: 260px;
    }

    #inputPlace7{
        margin-left: 167px;
    }
}

/*запрос для довгих лейблів*/
@media(max-width: 942px){
    .organ{
        line-height: normal;
    }
}
