@font-face {
    font-family: ACLine;
    src:    url('../fonts/ACLine.eot') format('embedded-opentype'),
            url('../fonts/ACLine.woff2') format('woff2'),
            url('../fonts/ACLine.woff') format('woff'),
            url('../fonts/ACLine.ttf') format('truetype'),
            url('../fonts/ACLine.svg#ACLine') format('svg');
}
@font-face {
    font-family: SegoeUIRegular;
    src:    url('../fonts/SegoeUIRegular.eot') format('embedded-opentype'),
            url('../fonts/SegoeUIRegular.woff') format('woff'),
            url('../fonts/SegoeUIRegular.ttf') format('truetype');
}
html,body{
    padding:0;
    margin:0;
    height:100%;
    width:100%;
}
.news{
    margin-top: 10px;                    /*---For testing my block--*/
}


.news li span .date{
    font-size: 0.8em;                /* ----font-size---  ?????? */
    color:grey;
}
.news li img{
    width: 100%;
    border: 1px solid #f68c06;
    display:none;
	margin-top:5px;
}
.news li:nth-child(3) img,.news li:nth-child(5) img{
    display: block;
}
.footer img{
    width:100%;
}

.news li a:hover{
    color:#f68c06;
}
#close{
    float:right;
}
#close:hover{
    border: 2px solid red;
}

div.list{
    height:800px;           /*-------For testing my block---- */
    overflow-y:scroll;
}

.header div:first-child{
    margin-top:5%;
}
.header div:nth-child(2)
{
    padding-left: 5px;
}
.header div:last-child{
    float:right;
}
.header-img{
    width:80%;
}
.newslist ul a{
    color:black;
    text-decoration: underline;  
    font-weight: bold; 
	font-size: 14px;
	line-height:inherit;
}
.news ul{
    list-style-position: inside;
	font-family: SegoeUIRegular;
	font-size: 20px;
	padding:0;
}
.news li{
	line-height:14px;
    color:#f68c06;
    padding: 5px 0;
}

		/*----------------------------------------------------------------------------------------------*/
.top-vac-div {
	background-color:white;
/*	border: 2px solid pink;*/
}

.top-vac-div p {margin-bottom:0px;}

.top-vac-header1 {
	float:left;
	margin:6px 0 0 0;
}
.top-vac-header2 {
	color:#f68c06; 
	font-family:ACLine; 
	font-size:32px;
	font-weight:bold;
    text-align:center;
}
.close-bt{
	height:18px;
	width:18px;
	border-radius:2px;
	background-color:#faeae5; 
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	float:right;
	text-align:center;
	padding:2px;
	margin-right:13px;
	color:#cc3300;
}
.add2top p{
	font-family: SegoeUIRegular;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
    color: #cc3300;
    margin-bottom: 10px;
}

.add2top span{text-decoration: underline;}
.add2top a:active {text-decoration:none;}
.add2top a:hover {text-decoration:none;}
.add2top a,p:visited {text-decoration:none;}

.top-vac-list{
    height: 520px;
    font-family: SegoeUIRegular;
	color: #cc3300;
    overflow-y:scroll;
}

.cool-scroll::-webkit-scrollbar {
    width: 8px;
    background: #ddd;
}

.cool-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
}

.cool-scroll::-webkit-scrollbar-thumb {
    background: #888 url(../image/Thumb.png) no-repeat;
    background-position: center center;
}

.top-vac-list ul {
    list-style-position:inside;
    padding:0;
	color:#f68c06; 
	font-size: 20px;
}

.tvl-date{
    font-size: 11px;
    color:grey;
	display:inline;
	margin-left:-15px;
}

.tvl-position{
    font-weight: bold;
    text-decoration: underline;
    color:black;
	font-size: 14px;
}

.tvl-salary{
    color:grey;
    margin-bottom: 15px;
	font-size: 14px;
}
