@font-face {
    font-family: ACLine;
    src:    url('../fonts/ACLine.eot') format('embedded-opentype'),
            url('../fonts/ACLine.woff2') format('woff2'),
            url('../fonts/ACLine.woff') format('woff'),
            url('../fonts/ACLine.ttf') format('truetype'),
            url('../fonts/ACLine.svg#ACLine') format('svg');
}
@font-face {
    font-family: SegoeUIRegular;
    src:    url('../fonts/SegoeUIRegular.eot') format('embedded-opentype'),
            url('../fonts/SegoeUIRegular.woff') format('woff'),
            url('../fonts/SegoeUIRegular.ttf') format('truetype');
}
p {margin:0;}

.top-vac-div {
	height:600px;
	background-color:white;
/*	border:1px solid black;*/
}
.top-vac-header1 {
	float:left;
	margin:6px 0 0 0;
}
.top-vac-header2 {
	color:#f68c06; 
	font-family:ACLine; 
	font-size:32px;
	font-weight:bold;
    text-align:center;
}
.close-bt{
	height:18px;
	width:18px;
	border-radius:2px;
	background-color:#faeae5; 
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	float:right;
	text-align:center;
	padding:2px;
	margin-right:13px;
	color:#cc3300;
}
.add2top p{
	font-family: SegoeUIRegular;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
    color: #cc3300;
    margin-bottom: 20px;
}

.add2top span{text-decoration: underline;}
.add2top a:active {text-decoration:none;}
.add2top a:hover {text-decoration:none;}
.add2top a,p:visited {text-decoration:none;}

.top-vac-list{
    height: 510px;
    font-family: SegoeUIRegular;
    overflow-y:scroll;
}

.top-vac-list::-webkit-scrollbar {
    width: 8px;
    background: #ddd;
}

.top-vac-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
}

.top-vac-list::-webkit-scrollbar-thumb {
    background: #888 url(../image/Thumb.png) no-repeat;
    background-position: center center;
}

.top-vac-list ul {
    list-style-type:none;
    padding:0px;
}

.li-disc{
    height:6px;
    width:6px;
    border-radius: 50%;
    background-color: orange;
    float:left;
    margin: 4px 8px 0 0;
}

.tvl-date{
    font-size: 10px;
    color:grey;
}

.tvl-position{
    font-weight: bold;
    text-decoration: underline;
    color:black;
}

.tvl-salary{
    color:grey;
    margin-bottom: 15px;
}
